* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



h1 {
  color: white;
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgba(148, 148, 148, 0.808);
  padding: 1rem;
  color:white;
  font-size: 20px;
  margin-top: 2rem;
  border-radius: 0.25rem;
}

button:hover {
  filter: brightness(1.2);
}

.fieldContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

table {
  border-collapse: collapse;
  color: grey;
}

table td {
  border: 3px solid white;
}

td {
  width: 80px;
  height: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;    
  cursor: pointer;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child {
  border-left: none;
}

table tr td:last-child {
  border-right: none;
}

.d-none {
  display: none;
}